n8n/bewerbzen_telegram_bot.json
{
  "name": "BewerbZen Telegram Bot MVP",
  "nodes": [
    {
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ],
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "QnYKdsbSqRsqqH0J",
          "name": "BewerbZen Bot"
        }
      }
    },
    {
      "id": "parse-msg",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "\nconst msg = $input.first().json?.message || {};\nconst text = msg.text || '';\nconst chatId = String(msg.chat?.id || '');\nconst firstName = msg.from?.first_name || 'друг';\nconst command = text.startsWith('/') ? text.split(' ')[0].replace('/','').split('@')[0].toLowerCase() : 'text';\n\nreturn [{ json: { chatId, firstName, text, command, isCommand: text.startsWith('/') } }];\n"
      }
    },
    {
      "id": "cmd-router",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        660,
        300
      ],
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "bewerben",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bewerben"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "status"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.isCommand }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "send-welcome",
      "name": "Send Welcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        60
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8734398212:AAH25Qdzy97iMOQyyfTX1neXz9cOadSaB5Q/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: \"Привет, \" + $json.firstName + \"! 👋\\n\\nЯ — BewerbZen. Помогаю русскоязычным в Германии делать Bewerbung правильно и быстро.\\n\\n📋 Что умею:\\n• Anschreiben под конкретную вакансию\\n• Lebenslauf по немецкому стандарту\\n• Поиск вакансий (скоро)\\n\\nНапиши /bewerben и пришли текст вакансии.\\n\\n✨ Первые 3 Bewerbung — бесплатно\", parse_mode: \"Markdown\" }) }}",
        "options": {}
      }
    },
    {
      "id": "send-help",
      "name": "Send Help",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8734398212:AAH25Qdzy97iMOQyyfTX1neXz9cOadSaB5Q/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: \"📋 *BewerbZen — справка*\\n\\n/bewerben — составить Anschreiben\\n/status — баланс\\n/help — эта справка\\n\\n💡 Как получить лучший результат:\\n• Полный текст вакансии\\n• Уровень немецкого (B1/B2/C1)\\n\\n🆓 Первые 3 — бесплатно\\n💳 Пакет 3 шт — €4.99\\n♾️ Подписка — €12.99/мес\", parse_mode: \"Markdown\" }) }}",
        "options": {}
      }
    },
    {
      "id": "ask-vacancy",
      "name": "Ask for Vacancy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        340
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8734398212:AAH25Qdzy97iMOQyyfTX1neXz9cOadSaB5Q/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: \"Давай составим Bewerbung! ✍️\\n\\n*Пришли текст вакансии* — скопируй с сайта работодателя или со StepStone / Indeed / Xing.\\n\\nЧем полнее текст — тем точнее Anschreiben.\\n\\n💡 Опционально — добавь в конце:\\n«Я frontend-разработчик, 3 года опыта, B2 немецкий»\", parse_mode: \"Markdown\" }) }}",
        "options": {}
      }
    },
    {
      "id": "send-status",
      "name": "Send Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8734398212:AAH25Qdzy97iMOQyyfTX1neXz9cOadSaB5Q/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const data = $getWorkflowStaticData(\"global\"); const user = (data.users || {})[String($json.chatId)] || { count: 0, isPaid: false }; const rem = Math.max(0, 3 - user.count); return JSON.stringify({ chat_id: $json.chatId, text: \"📊 *Твой статус*\\n\\n✅ Использовано: \" + user.count + \" из 3 бесплатных\\n🎁 Осталось: \" + rem + \"\\n\\n\" + (rem > 0 ? \"Напиши /bewerben чтобы начать →\" : \"Бесплатные использованы. Напиши @mihailcarenc для продления.\"), parse_mode: \"Markdown\" }); })() }}",
        "options": {}
      }
    },
    {
      "id": "check-limit",
      "name": "Check & Track Usage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        620
      ],
      "parameters": {
        "jsCode": "\nconst data = $getWorkflowStaticData('global');\nif (!data.users) data.users = {};\nconst chatId = String($input.first().json.chatId);\nif (!data.users[chatId]) data.users[chatId] = { count: 0, isPaid: false };\nconst user = data.users[chatId];\nconst FREE_LIMIT = 3;\nconst limitOk = user.isPaid || user.count < FREE_LIMIT;\nreturn [{ json: { ...$input.first().json, usageCount: user.count, isPaid: user.isPaid, limitOk: !!limitOk } }];\n"
      }
    },
    {
      "id": "limit-router",
      "name": "Limit Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        620
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "limit-router-cond",
              "leftValue": "={{ !!$json.limitOk }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "send-loading",
      "name": "Send Loading",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        540
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8734398212:AAH25Qdzy97iMOQyyfTX1neXz9cOadSaB5Q/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: \"⏳ Генерирую Anschreiben...\\nОбычно 15–20 секунд.\" }) }}",
        "options": {}
      }
    },
    {
      "id": "send-limit",
      "name": "Send Limit Exceeded",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8734398212:AAH25Qdzy97iMOQyyfTX1neXz9cOadSaB5Q/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: \"Ты использовал все *3 бесплатных Bewerbung* 🎉\\n\\nЧтобы продолжить:\\n💳 Пакет 3 шт — €4.99\\n♾️ Подписка — €12.99/мес\\n\\nНапиши @mihailcarenc для оплаты.\", parse_mode: \"Markdown\" }) }}",
        "options": {}
      }
    },
    {
      "id": "claude-api",
      "name": "Claude API — Anschreiben",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        540
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "REPLACE_WITH_CLAUDE_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"claude-opus-4-5\", max_tokens: 2000, messages: [{ role: \"user\", content: \"Ты эксперт по немецким заявлениям о приёме на работу (Bewerbung). Напиши профессиональный Anschreiben на немецком языке для следующей вакансии.\\n\\nВАЖНО: Используй [квадратные скобки] для данных которые соискатель должен заменить сам (имя, адрес, телефон, дата и т.д.)\\n\\nВакансия:\\n\" + $json.text }] }) }}",
        "options": {}
      }
    },
    {
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        540
      ],
      "parameters": {
        "jsCode": "\nconst data = $getWorkflowStaticData('global');\nconst chatId = String($input.first().json.chatId);\nif (data.users && data.users[chatId] !== undefined) {\n  data.users[chatId].count = (data.users[chatId].count || 0) + 1;\n}\nconst count = data.users?.[chatId]?.count || 1;\nconst remaining = Math.max(0, 3 - count);\n\nconst apiResp = $input.first().json;\nconst anschreiben = apiResp?.content?.[0]?.text || apiResp?.content || 'Ошибка генерации';\n\nconst firstName = $input.first().json.firstName || 'друг';\nreturn [{ json: { ...$input.first().json, anschreiben, usageCountAfter: count, remaining, firstName } }];\n"
      }
    },
    {
      "id": "send-result",
      "name": "Send Anschreiben",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        540
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8734398212:AAH25Qdzy97iMOQyyfTX1neXz9cOadSaB5Q/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: \"✅ *Готово, \" + $json.firstName + \"!*\\n\\n```\\n\" + ($json.anschreiben || \"\").substring(0,3500) + \"\\n```\\n\\n📌 *Что дальше:*\\n1. Замени всё в [квадратных скобках] на свои данные\\n2. Проверь имя контактного лица\\n3. Сохрани как PDF (Google Docs → Файл → PDF)\\n\\n📊 Использовано: \" + $json.usageCountAfter + \" из 3 бесплатных ✨\", parse_mode: \"Markdown\" }) }}",
        "options": {}
      }
    },
    {
      "id": "send-fallback",
      "name": "Send Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        760
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8734398212:AAH25Qdzy97iMOQyyfTX1neXz9cOadSaB5Q/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: \"Не понял команду. Напиши /help чтобы увидеть список команд.\" }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "start": [
        {
          "node": "Send Welcome",
          "type": "main",
          "index": 0
        }
      ],
      "help": [
        {
          "node": "Send Help",
          "type": "main",
          "index": 0
        }
      ],
      "bewerben": [
        {
          "node": "Ask for Vacancy",
          "type": "main",
          "index": 0
        }
      ],
      "status": [
        {
          "node": "Send Status",
          "type": "main",
          "index": 0
        }
      ],
      "text": [
        {
          "node": "Check & Track Usage",
          "type": "main",
          "index": 0
        }
      ],
      "extra": [
        {
          "node": "Send Fallback",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Check & Track Usage": {
      "main": [
        [
          {
            "node": "Limit Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Router": {
      "main": [
        [
          {
            "node": "Send Loading",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Limit Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Loading": {
      "main": [
        [
          {
            "node": "Claude API — Anschreiben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API — Anschreiben": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Send Anschreiben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}